<main>
    <section class="container-sm product-section">
        
        <form class="product-form" id="productForm"
            enctype="application/x-www-form-urlencoded">
            <h3>Ingrese el producto</h3>
            <div class="form-control">
                <label for="name">Título</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="form-control">
                <label for="price">Precio</label>
                <input type="Number" name="price" id="price">
            </div>
            <div class="form-control">
                <label for="thumbnail">Imagen</label>
                <input type="text" name="thumbnail" id="thumbnail">
            </div>
            <div class="form-button-div">
                <input type="submit" value="Enviar">
            </div>
        </form>
        <article id="productsList">
            
        </article>
    </section>
    <section class="container-sm chat-section">

    </section>
</main>

